*{
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Raleway', sans-serif;
}

.container{
  text-align: center;
  margin-top: 10vh;
}

img{
  width: 500px;
  height: 500px;
  border: 5px solid white;
}

h1{
  color: white;
  text-transform: uppercase;
  margin-top: 1vh;
}

p{
  color: white;
  margin: 2vh;
}